.header
  .header__content
    .header__content__left
      = image_tag("LOGO_fix.jpg", id: "etpur_logo")
      
    .header__content__middle
      %text ...et PUR's BMI Calclator
    .header__content__right
      %text ログイン