.culculator
  .culculator__field
    %h1 BMI Calclator
    .height
      身長(cm)は
      %input{type: "number", id: "height"}
      です。
    %br
    .weight
      体重 (kg)は
      %input{type: "number", id: "weight"}
      です。
    %br
    .culc
      %input{type: "button", value: "BMIを計算！", id: "calc"}
    %br
    .bmi
      あなたのBMIは
      %input{type: "number", id: "price"}
    .reload
      %input{type: "button", value: "再計算", id: "reload"}
      
  
  .culculator__result
    .culculator__result__image
      = image_tag("yase.PNG", id: 'image1')
      = image_tag("hyoujun.PNG", id: 'image2')
      = image_tag("himan_1.PNG", id: 'image3')
      = image_tag("himan_2.PNG", id: 'image4')

  