.main{
  height: 1000px;
  &__image{
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  img{
    
    height: 500px;
    opacity: 0.8;
  }

  &__button{
  position: absolute;
  top: 220px;
  left: 700px;
  
  a{
  display: block;
  padding: 1em 3.2em;
  border-radius: 1.6em;
  color: #fff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(-45deg, rgba(87, 225, 181, 1) 0%, rgba(0, 63, 255, 1) 100%);
  box-shadow: 0 5px 20px rgba(0, 63, 255, .5);  
}
}
}

}